.yw-body {
  box-sizing: border-box;
}

.yw-sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  z-index: 999999998;

  &.yw-sidebar-open {
    right: 0;
  }

  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);

  iframe {
    height: 100vh;
    border: none;
  }
}

.yw-touchpoints-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px 100px;
  z-index: 9999999999;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;

  iframe {
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  }
}
