.sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 999999999;

  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);

  iframe {
    height: 100vh;
    border: none;
  }
}
